
<h1><%= @course.name %></h1>
<br />
<h1>Subject: <%= @course.subject %></h1>
<br />
<h1>Course Number: <%= @course.course_number %></h1>

<%= form_tag @course, method: "DELETE" do %>

<%= submit_tag "Delete Course" %>

<% end %>